<div class="site-container">
    <mat-action-list>
        <span mat-subheader class="list-header">Versions</span>
        <div class="scrollable-content" *ngIf="file">
            <div class="flex-row" *ngFor="let version of file.versions | keyvalue: valueDescOrder">
                <button mat-list-item [title]="version.value.head ? 'Head: ' +  version.value.id : version.value.id">
                    <mat-icon mat-list-icon [ngClass]="{'head': version.value.head}">description</mat-icon>
                    <div mat-line>{{version.value.creationDate | date: "medium"}}</div>
                </button>
                <div class="spacer"></div>
                <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item *ngIf="getVersions().length > 1" (click)="compareVersion(version.value)">
                        <mat-icon>compare</mat-icon>
                        <span>Compare</span>
                    </button>
                    <button *ngIf="!version.value.head" mat-menu-item (click)="deleteVersion(version.value.id)">
                        <mat-icon>delete</mat-icon>
                        <span>Delete</span>
                    </button>
                    <button mat-menu-item (click)="openTagDialog(version.value)">
                        <mat-icon>sell</mat-icon>
                        <span>Tags</span>
                    </button>
                    <button *ngIf="!version.value.head" mat-menu-item (click)="restoreVersion(version.value.id)">
                        <mat-icon>restore</mat-icon>
                        <span>Restore</span>
                    </button>
                </mat-menu>
            </div>
        </div>
    </mat-action-list>
</div>