<div class="site-container">
  <button mat-fab color="primary" class="action-button" (click)="openUploadDialog()">
    <mat-icon>upload</mat-icon>
  </button>
  <mat-action-list>
    <span mat-subheader class="list-header">Files</span>
    <div class="scrollable-content">
      <button mat-list-item *ngFor="let file of files"
      [routerLink]="['files', file.id]">
        <mat-icon mat-list-icon>description</mat-icon>
        <div mat-line>{{file.name}}</div>    
      </button>
    </div>
  </mat-action-list>
</div>