<div class="container">
    <mat-form-field appearance="fill">
        <mat-label>Version to compare</mat-label>
        <mat-select [(value)]="selectedVersion" (selectionChange)="selectVersionToCompare()">
            <mat-option *ngFor="let version of data.versions" [value]="version">
                {{version.id}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <div class="flex-container" *ngIf="!selectedVersion">
        <h1>Please select a version to compare</h1>
    </div>
    <ngx-monaco-diff-editor class="template-editor" *ngIf="selectedVersion" [options]="codeEditorOptions" [originalModel]="originalVersion"
        [modifiedModel]="versionToCompare"></ngx-monaco-diff-editor>
</div>