<div class="site-container">
  <button mat-fab color="primary" class="action-button" (click)="addNewRepository()">
    <mat-icon>add</mat-icon>
  </button>
  <mat-action-list>
      <span mat-subheader class="list-header">Repositories</span>
      <div class="flex-row" *ngFor="let repository of repositories">
        <button mat-list-item [routerLink]="['/repositories', repository.id]">
          <mat-icon mat-list-icon>folder</mat-icon>
          <div mat-line>{{repository.name}}</div>   
        </button> 
        <div class="spacer"></div>
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>edit</mat-icon>
            <span>Rename</span>
          </button>
          <button mat-menu-item>
            <mat-icon>delete</mat-icon>
            <span>Delete</span>
          </button>
        </mat-menu>
      </div>
  </mat-action-list>
</div>
  