.page-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    column-gap: 20px;
}

.page {
    aspect-ratio: 16 / 9;
    max-width: 40%;
    height: 100%; overflow: auto;
    background-color: rgb(251, 251, 251);
    -webkit-box-shadow: -2px 10px 32px 3px rgba(140,140,140,1);
    -moz-box-shadow: -2px 10px 32px 3px rgba(140,140,140,1);
    box-shadow: -2px 10px 32px 3px rgba(140,140,140,1);
    border-radius: .5rem;
    overflow: scroll;
}

.text-content {
    white-space: pre-line; 
    color: black;
    padding: 10px;
    font-size: 1.5vh;
}

.file-info {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tab-container {
    width: 100%;
}

.toolbar-actions {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}

.flex-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}