<div class="flex-container">
  <ng-container *ngIf="isLoading || !file">
    <div class="flex-center">
      <mat-spinner></mat-spinner>
    </div>
  </ng-container>
  <ng-container *ngIf="!isLoading && file">
    <div class="toolbar-actions">
      <div>
        <h1 class="file-header">
          <span>{{file.name}}</span>
            <mat-icon *ngIf="file.locked" title="This file is currently being edited">locked</mat-icon>
        </h1>
      </div>
      <div class="spacer"></div>
      <button mat-mini-fab color="primary" title="Download file" [disabled]="file.locked" (click)="openDownloadDialog()">
        <mat-icon>download</mat-icon>
      </button>
      <button mat-mini-fab color="primary" title="Upload file" [disabled]="!file.locked" (click)="openUploadDialog()">
        <mat-icon>upload</mat-icon>
      </button>
      <button mat-mini-fab color="primary" title="Delete file">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
    <div class="page-container">
      <div class="file-info">
        <app-version-list [file]="file"></app-version-list>
      </div>
      <div class="page">
        <p class="text-content">
          {{file.head.content}}
        </p>
      </div>
    </div>
  </ng-container>
</div>