<div class="flex-container">
  <div class="toolbar-actions">
    <div>
      <h1 class="file-header">{{file?.name}}</h1>
    </div>
    <div class="spacer"></div>
    <button mat-mini-fab color="primary" title="Download file" (click)="downloadFile()">
      <mat-icon>download</mat-icon>
    </button>
    <button mat-mini-fab color="primary" title="Upload file">
      <mat-icon>upload</mat-icon>
    </button>
    <button mat-mini-fab color="primary" title="Delete file">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
  <div class="page-container">
    <div *ngIf="file" class="file-info">
      <app-version-list [file]="file"></app-version-list>
    </div>
    <div class="page">
      <p *ngIf="file" class="text-content">
        {{file.head.content}}
      </p>
    </div>
  </div>
</div>